# Кэши и временные файлы
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# Зависимости
/node_modules
/vendor

# Сборка и артефакты
/public/build
/public/hot
/public/storage

# Конфиденциальные файлы
.env*
/auth.json
/storage/*.key
/docker/**/*.key

# IDE и локальные настройки
/.idea
/.vscode
/.nova
/.zed
/.fleet

# Homestead
/Homestead.json
/Homestead.yaml

# Прочие
/.phpactor.json
